nav
    ul
        li
            a(href='#') first
        li
            a(href='#') two2
        li
            a(href='#') three
        li
            a(href='#') four
        li
            a(href='#') five