nav
    ul
        li
            a(href="devwp/tpl-pug/pages/home.pug") Моя главная страница
        li
            a(href="devwp/tpl-pug/pages/main.pug") Моя майная страница

        li
            a(href='#') first
        li
            a(href='#') two2
        li
            a(href='#') three
        li
            a(href='#') four
        li
            a(href='#') five
        li
            a(href='#') six
p hello
a(href="devwp/tpl-pug/index.pug") index

ul
  li
    a(href="#home") Home
  li
    a(href="#news") News
  li(class="dropdown")
    a(href="javascript:void(0)" class="dropbtn") Dropdown
    div(class="dropdown-content")
        a(href="#") Link 1
        a(href="#") Link 2
        a(href="#") Link 3
        a(href="#") Link 4

    h3 Dropdown Menu inside a Navigation Bar
    p Hover over the "Dropdown" link to see the dropdown menu.
